body {
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    background-color: #A2D2FF;
}

#counter {
    font-size: 40px;
}

.box-model {
    padding: 1em;
    margin: 1em;
}

/* coolors color scheme for my elements in html */

.display {
    background-color: #BDE0FE;
}

.counter {
    padding-bottom: 1em;
}